/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff8c00;
    color: white;
    padding: 10px 0;
    text-align: center;
paragraph {
 textFragment(content="Este video muestra cómo cambiar el color de un encabezado con estilo en línea:")
     video(results=["vid2"], size="hero");
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffa500;
}

/* Estilos de productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.producto {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.precio {
    color: #ff8c00;
    font-size: 1.2rem;
}

button {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffa500;
}

/* Estilos de pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

